.vscode/
.idea/

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*/*/*/*/*/*/__pycache__/

.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

temp.txt

env-gitWebScrapper/

to_tmp/
